<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= movie.name %>
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <style>
        .img >img {
            height: 100vh;
            width: 100%; 
        }
    </style>
</head>

<body>
    <div class="container-fluid ">
        <div class="row">
            <div class="img col-6">
                <img src="<%= movie.image_path %>" alt="<%= movie.name %>">
            </div>
            <div class="col-6 ">
                <h2 class="text-center">
                    <%= movie.name %>
                </h2>
                <p>
                    <%= movie.description %>
                </p>
                <h5> Genres:
                <% movie.genres.forEach(gen => { %>
                 <span>|<%= gen %> </span>
                <% }) %></h5>
                <h5>
                    Start date: <%= movie.start_date %>
                </h5>
                <h5><%= movie.runtime %> minutes</h5>
                <h4>Rating: <%= movie.rating %>⭐️ Out of 10
                </h4>
                <button class="btn btn-outline-primary"><a href="<%= movie.url %>">Click to go to page</a></button>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>

</html>